<!-- user0instructions.htm 
  Description:  Just gives the user some instructions on how the map works.   A future optimization might be to have this 
  read in via a JSON file (as a CMS) rather than hard-coded. 

-->

<h1> Welcome to Ryan's Test Map for Location Inc </h1>
<p>  This was designed using a Yeoman Angular scaffold and then modified from there with the angular Google maps API.   <p>
<p> The map is simple, simply choose a State (needs to be AR) and then the city field will become active.  Choosing a City will redraw the map to center on the city of your choosing, with a marker highlighting the exact spot.    When clicked, the marker pops up a small window with the city name as well as the lat/lon of the city </p>
<p> An additional "feature" is to allow the map to draw a circle overlay around the city.   Simply check the <em<"Show a circle around the city?:"</em> checkbox to see it in action </p>
<p> I enjoyed doing this,  I'm relatively new to Angular and I admittedly am still learning as I go, whatever feedback good or bad is appreciated.   Thanks! </p>  